body {
  font-family: Arial, sans-serif;
  background-color: orange;
}

h1{
  font-size: 38px
}

h2{
  font-size: 32px
}

ul.ingredients-list {
  list-style: square inside
}

ol {
  list-style: georgian inside
}

header img {
  width: 100px
}

ul li a {
  text-decoration: none;
}

